@font-face {
  font-family: "RedHatText";
  src: url("assets/fonts/static/RedHatText-Regular.ttf");
}
@font-face {
  font-family: "RedHatText SemiBold";
  src: url("assets/fonts/static/RedHatText-SemiBold.ttf");
}
@font-face {
  font-family: "RedHatText Bold";
  src: url("assets/fonts/static/RedHatText-Bold.ttf");
}

:root {
  --red: #c73b0f;
  --rose-900: #260f08;
  --rose-500: #87635a;
  --rose-400: #ad8a85;
  --rose-300: #caafa7;
  --rose-100: #f5eeec;
  --rose-50: #fcf8f6;
  --green: #1ea575;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1.5rem;
  font-family: "RedHatText";
  background-color: var(--rose-50);
}

h1 {
  margin-bottom: 2rem;
  font-family: "RedHatText Bold";
  font-size: 2.5rem;
}

section {
  margin-bottom: 1.5rem;
}

div.add-to-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

img.in-cart {
  border: 2px solid var(--red);
}

button.add-to-cart::before {
  content: url("assets/images/icon-add-to-cart.svg");
  margin-right: 0.5rem;
}

button.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  padding: 0.75rem 2rem;
  background-color: var(--white);
  border: 1px solid var(--green);
  border-radius: 2rem;
  cursor: pointer;
  /* display: none; */
}

/* The added to cart button section */
div.added-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  padding: 0.75rem 0.75rem;
  background-color: var(--red);
  border-radius: 2rem;
  display: none;
}

div.added-to-cart button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  background: inherit;
  pointer-events: auto;
  cursor: pointer;
}

div.added-to-cart svg,
div.added-to-cart path {
  pointer-events: none;
}

div.added-to-cart p.button-quantity {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
  color: var(--white);
  font-size: 14px;
}

h2 {
  font-family: "RedHatText SemiBold";
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

h3 {
  font-size: 14px;
  color: var(--rose-500);
  margin-bottom: 0.25rem;
}

p.price {
  font-family: "RedHatText SemiBold";
  color: var(--red);
}

div.cart {
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 0.5rem;
}

p.cart-quantity {
  margin-bottom: 1.5rem;
  font-family: "RedHatText Bold";
  font-size: 1.5rem;
  color: var(--red);
}

div.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.empty-cart > img {
  width: 128px;
  height: 128px;
  margin-bottom: 1rem;
}

div.empty-cart > p {
  font-size: 14px;
  line-height: 150%;
  color: var(--rose-500);
}

div.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--rose-100);
  margin-bottom: 1rem;
}

button.delete-item {
  border: none;
  background-color: inherit;
  cursor: pointer;
  pointer-events: auto;
}

/* Delete button svg section */
button.delete-item > svg {
  width: 1.25rem;
  height: 1.25rem;
  border: 1.5px solid var(--rose-400);
  border-radius: 50%;
  padding: 2.5px;
  pointer-events: none;
}

button.delete-item > svg > path {
  fill: var(--rose-400);
  pointer-events: none;
}

div.cart-item > span {
  display: inline-block;
}

div.cart-item-details > :first-child {
  font-family: "RedHatText Bold";
  color: var(--rose-900);
  margin-bottom: 0.5rem;
}

span.cart-item-quantity {
  font-family: "RedHatText SemiBold";
  color: var(--red);
  margin-right: 1rem;
}

span.cart-item-price {
  color: var(--rose-500);
  margin-right: 0.5rem;
}

span.cart-item-total {
  font-family: "RedHatText SemiBold";
  color: var(--rose-500);
}

div.order-total-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.order-total-message {
  font-size: 14px;
  color: var(--rose-900);
}

span.order-total-amount {
  font-size: 1.5rem;
  color: var(--rose-900);
  font-family: "RedHatText Bold";
}

div.eco-message::before {
  content: url(./assets/images/icon-carbon-neutral.svg);
  margin-right: 0.5rem;
}

div.eco-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background: var(--rose-50);
  padding: 1rem;
  font-size: 14px;
  border-radius: 0.5rem;
}

div.eco-message > p > span {
  display: inline-block;
  font-family: "RedHatText SemiBold";
}

button.confirm-order {
  margin-bottom: 1.5rem;
  border: none;
  width: 100%;
  color: var(--white);
  background: var(--red);
  font-size: 1rem;
  font-family: "RedHatText SemiBold";
  padding: 1rem;
  border-radius: 2rem;
}
